/*
 * Copyright © 2025 Jim Hamilton.
 * All rights reserved.
 */

 /*Copyright © 2025 Jim Hamilton. All rights reserved.*/


.title {
    font-size: xx-large;
}

.tableHeader {
    font-size: larger;
}

.hidden {
    display: none;
}