/*
 * Copyright © 2025 Jim Hamilton.
 * All rights reserved.
 */

.title {
    font-size: xx-large;
}

.tableHeader {
    font-size: larger;
}

.hidden {
    display: none;
}

.render {
    vertical-align: top;
}

.rendered {
    vertical-align: top;
    background-color: blanchedalmond;
}

.spacer {
    width: 10px;
}

.big-arrow {
    font-size: xxx-large;
    vertical-align: top;
    color: royalblue;
}

.no-margin {
    margin: 0;
}

.min-margin {
    margin: 8px;
}